@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--radius: 0.65rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.141 0.005 285.823);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.141 0.005 285.823);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.141 0.005 285.823);
	--primary: oklch(0.488 0.243 264.376);
	--primary-foreground: oklch(0.97 0.014 254.604);
	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);
	--muted: oklch(0.967 0.001 286.375);
	--muted-foreground: oklch(0.552 0.016 285.938);
	--accent: oklch(0.967 0.001 286.375);
	--accent-foreground: oklch(0.21 0.006 285.885);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.92 0.004 286.32);
	--input: oklch(0.92 0.004 286.32);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.809 0.105 251.813);
	--chart-2: oklch(0.623 0.214 259.815);
	--chart-3: oklch(0.546 0.245 262.881);
	--chart-4: oklch(0.488 0.243 264.376);
	--chart-5: oklch(0.424 0.199 265.638);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.141 0.005 285.823);
	--sidebar-primary: oklch(0.546 0.245 262.881);
	--sidebar-primary-foreground: oklch(0.97 0.014 254.604);
	--sidebar-accent: oklch(0.967 0.001 286.375);
	--sidebar-accent-foreground: oklch(0.21 0.006 285.885);
	--sidebar-border: oklch(0.92 0.004 286.32);
	--sidebar-ring: oklch(0.708 0 0);

	.markdown-alert {
		--color-border-default: #d0d7de;
		--color-accent-fg: #0969da;
		--color-accent-emphasis: #0969da;
		--color-danger-fg: #d1242f;
		--color-danger-emphasis: #cf222e;
		--color-attention-fg: #9a6700;
		--color-attention-emphasis: #9a6700;
		--color-done-fg: #8250df;
		--color-done-emphasis: #8250df;
		--color-success-fg: #1a7f37;
		--color-success-emphasis: #1f883d;
	}

	#lessonContent {
		--color-border-default: #d0d7de;
		--color-border-muted: hsla(210, 18%, 87%, 1);
	}
}

.dark {
	--background: oklch(0.141 0.005 285.823);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.21 0.006 285.885);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.21 0.006 285.885);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.488 0.243 264.376);
	--primary-foreground: oklch(0.97 0.014 254.604);
	--secondary: oklch(0.274 0.006 286.033);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.274 0.006 286.033);
	--muted-foreground: oklch(0.705 0.015 286.067);
	--accent: oklch(0.274 0.006 286.033);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.809 0.105 251.813);
	--chart-2: oklch(0.623 0.214 259.815);
	--chart-3: oklch(0.546 0.245 262.881);
	--chart-4: oklch(0.488 0.243 264.376);
	--chart-5: oklch(0.424 0.199 265.638);
	--sidebar: oklch(0.21 0.006 285.885);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.623 0.214 259.815);
	--sidebar-primary-foreground: oklch(0.97 0.014 254.604);
	--sidebar-accent: oklch(0.274 0.006 286.033);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.439 0 0);

	.markdown-alert {
		--color-border-default: #30363d;
		--color-accent-fg: #58a6ff;
		--color-accent-emphasis: #1f6feb;
		--color-danger-fg: #f85149;
		--color-danger-emphasis: #da3633;
		--color-attention-fg: #d29922;
		--color-attention-emphasis: #9e6a03;
		--color-done-fg: #a371f7;
		--color-done-emphasis: #8957e5;
		--color-success-fg: #3fb950;
		--color-success-emphasis: #238636;
	}

	#lessonContent {
		--color-border-default: #30363d;
		--color-border-muted: #21262d;
	}
}

.hide-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
	display: none; /* Chrome, Safari, Opera */
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
	h1 {
		@apply text-4xl font-extrabold tracking-tight text-balance;
	}
	h2 {
		@apply text-3xl font-bold tracking-tight;
	}
	h3 {
		@apply text-2xl font-semibold tracking-tight;
	}
	h4 {
		@apply text-xl font-semibold tracking-tight;
	}

	pre {
		background-color: var(--card) !important;
		@apply bg-card p-4 rounded-lg overflow-x-auto my-4;
	}

	pre code {
		@apply bg-transparent p-0 text-sm;
	}

	code:not(pre code) {
		@apply bg-card px-2 py-1 rounded text-sm;
	}

	#lessonContent p {
		@apply my-6;
	}

	#lessonContent {
		h1 {
			@apply leading-[normal];
		}
		h2 {
			@apply leading-[normal];
		}
		h3 {
			@apply leading-[normal];
		}
		h4 {
			@apply leading-[normal];
		}

		code[data-theme*=" "],
		code[data-theme*=" "] span {
			color: var(--shiki-light);
			background-color: var(--card);
			/* Optional, if you also want font styles */
			font-style: var(--shiki-light-font-style);
			font-weight: var(--shiki-light-font-weight);
			text-decoration: var(--shiki-light-text-decoration);
		}

		html.dark & code[data-theme*=" "],
		html.dark & code[data-theme*=" "] span {
			color: var(--shiki-dark);
			background-color: var(--card);
			font-style: var(--shiki-dark-font-style);
			font-weight: var(--shiki-dark-font-weight);
			text-decoration: var(--shiki-dark-text-decoration);
		}

		code[data-line-numbers] {
			counter-reset: line;
		}

		code[data-line-numbers] > [data-line]::before {
			counter-increment: line;
			content: counter(line);
			display: inline-block;
			width: 0.75rem;
			margin-right: 1rem;
			text-align: right;
			color: gray;
		}

		code[data-line-numbers-max-digits="2"] > [data-line]::before {
			width: 1.25rem;
		}

		code[data-line-numbers-max-digits="3"] > [data-line]::before {
			width: 1.75rem;
		}

		code[data-line-numbers-max-digits="4"] > [data-line]::before {
			width: 2.25rem;
		}

		mark[data-highlighted-chars] {
			background-color: var(--card) !important;
			color: var(--card-foreground) !important;
		}

		mark[data-highlighted-chars] span {
			background-color: var(--secondary) !important;
			padding: 0.05rem 0.25rem;
		}

		mark[data-highlighted-chars] span:first-of-type {
			border-top-left-radius: 0.375rem;
			border-bottom-left-radius: 0.375rem;
		}

		mark[data-highlighted-chars] span:last-of-type {
			border-top-right-radius: 0.375rem;
			border-bottom-right-radius: 0.375rem;
		}

		span[data-line][data-highlighted-line],
		span[data-line][data-highlighted-line] span {
			background-color: var(--secondary) !important;
		}

		span[data-line][data-highlighted-line]:not(:has(+ span[data-line][data-highlighted-line]))
			+ span[data-line]:not([data-highlighted-line])
			+ span[data-line][data-highlighted-line],
		span[data-line][data-highlighted-line]:first-of-type {
			border-top-left-radius: 0.375rem;
			border-top-right-radius: 0.375rem;
		}

		span[data-line][data-highlighted-line]:not(:has(+ span[data-line][data-highlighted-line])) {
			border-bottom-left-radius: 0.375rem !important;
			border-bottom-right-radius: 0.375rem !important;
		}

		span[data-line][data-highlighted-line][data-highlighted-line-id] span {
			background-color: transparent !important;
		}

		span[data-line][data-highlighted-line][data-highlighted-line-id="a"] {
			background-color: hsla(111, 100%, 51%, 0.2) !important;
		}

		span[data-line][data-highlighted-line][data-highlighted-line-id="a"]::before {
			content: "+";
			display: inline-block;
			width: 0.75rem;
			margin-right: 1rem;
			text-align: right;
			color: gray;
		}

		span[data-line][data-highlighted-line][data-highlighted-line-id="d"] {
			background-color: hsla(0, 97%, 59%, 0.2) !important;
		}

		span[data-line][data-highlighted-line][data-highlighted-line-id="d"]::before {
			content: "-";
			display: inline-block;
			width: 0.75rem;
			margin-right: 1rem;
			text-align: right;
			color: gray;
		}

		.markdown-alert {
			border-left: 0.25em solid var(--borderColor-default, var(--color-border-default));
			margin-block: 1.5rem;
			padding: 0.5rem 1em;
		}
		.markdown-alert p {
			margin-block: 1rem;
		}
		.markdown-alert > :last-child {
			margin-bottom: 0 !important;
		}
		.markdown-alert .markdown-alert-title {
			align-items: center;
			display: flex;
			font-size: 14px;
			font-weight: 500;
			line-height: 1;
			margin-block: 0.5rem;
		}
		.markdown-alert .markdown-alert-title svg.octicon {
			margin-right: 8px !important;
			margin-right: var(--base-size-8, 8px) !important;
			fill: currentColor;
		}
		.markdown-alert.markdown-alert-note {
			border-left-color: var(--borderColor-accent-emphasis, var(--color-accent-emphasis));
		}
		.markdown-alert.markdown-alert-note .markdown-alert-title {
			color: var(--color-accent-fg);
			color: var(--fgColor-accent, var(--color-accent-fg));
		}
		.markdown-alert.markdown-alert-tip {
			border-left-color: var(--borderColor-success-emphasis, var(--color-success-emphasis));
		}
		.markdown-alert.markdown-alert-tip .markdown-alert-title {
			color: var(--color-success-fg);
			color: var(--fgColor-success, var(--color-success-fg));
		}
		.markdown-alert.markdown-alert-important {
			border-left-color: var(--borderColor-done-emphasis, var(--color-done-emphasis));
		}
		.markdown-alert.markdown-alert-important .markdown-alert-title {
			color: var(--color-done-fg);
			color: var(--fgColor-done, var(--color-done-fg));
		}
		.markdown-alert.markdown-alert-warning {
			border-left-color: var(--borderColor-attention-emphasis, var(--color-attention-emphasis));
		}
		.markdown-alert.markdown-alert-warning .markdown-alert-title {
			color: var(--color-attention-fg);
			color: var(--fgColor-attention, var(--color-attention-fg));
		}
		.markdown-alert.markdown-alert-caution {
			border-left-color: var(--borderColor-danger-emphasis, var(--color-danger-emphasis));
		}
		.markdown-alert.markdown-alert-caution .markdown-alert-title {
			color: var(--color-danger-fg);
			color: var(--fgColor-danger, var(--color-danger-fg));
		}

		a {
			background-color: transparent;
			color: #58a6ff;
			text-decoration: none;
		}

		a:active,
		a:hover {
			outline-width: 0;
		}

		a:hover {
			text-decoration: underline;
		}

		a:not([href]) {
			color: inherit;
			text-decoration: none;
		}

		table {
			border-spacing: 0;
			border-collapse: collapse;
			display: block;
			margin-top: 0;
			margin-bottom: 16px;
			width: max-content;
			max-width: 100%;
			overflow: auto;
		}

		tr {
			background-color: var(--card);
			border-top: 1px solid var(--color-border-muted);
		}

		tr:nth-child(2n) {
			background-color: var(--secondary);
		}

		td,
		th {
			padding: 6px 13px;
			border: 1px solid var(--color-border-default);
		}

		th {
			font-weight: 600;
		}

		table img {
			background-color: transparent;
		}

		input[type="checkbox"] {
			margin: 0 0.2em 0.25em 0;
			vertical-align: middle;
		}

		input[type="checkbox"]:dir(rtl) {
			margin: 0 0 0.25em 0.2em;
		}
	}
}
